# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Turborepo cache
.turbo

# Temp files remove later
apps/backend/collab-test-full.js
apps/backend/collab-test.js
apps/backend/debug-collab.js
apps/frontend/src/collab-simulation.js
apps/frontend/src/editor/handlers/KeyboardHandler.test.js

editor_old