.statistics-view {
  padding: 2rem;
  background-color: #f9f9f9;
  height: 100%;
  overflow-y: auto;
}

.statistics-content h2 {
  margin-top: 0;
  font-size: 1.5rem;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.statistics-content h3 {
  font-size: 1.2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #eee;
  padding-bottom: 0.5rem;
}

.statistics-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.statistics-content li {
  margin-bottom: 0.5rem;
}

.character-stats {
  columns: 2;
  gap: 2rem;
}
